	./.ipynb_checkpoints/
	./ASAC/
	./Swift/TIL/
	./Swift/day05_unwrapping.playground/playground.xcworkspace/
	./Swift/day06.playground/
	./Swift/day08_FunctionVar.playground/playground.xcworkspace/
	./Swift/ep.03.playground/
	./
	./language/
	./mysite/
